body,
ul,
li,
p {
 margin: 0px;
 padding: 0px;
 list-style: none;
 font-size: 1.2zem;
 font-family: Arial;
}

a {
  text-decoration: none;
  color: white;
}

h1{
  text-align: center;
  margin-top: 100px;
}

img {
  max-width:100%;
  display: block;
}

.header {
  background-color: red;
  display: flex;
  flex-direction: wrap;
  justify-content: spare-between;
  align-items: center;
  padding: 20px;
}

.menu {
  display: flex;
}

.menu li {
  margin-left: 10px;
}

.menu li a {
  display: block;
  padding: 10px;

}


/* CSS FLEXBOX 1 */

.flex {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
}

.flex > div {
  flex: 1 1 200px;
}

/* CSS GRID 1 */

.grid1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 800px;
  margin: 0 auto;
  padding: 3opx;
  margin: 0 auto;
  grid-gap: 20px;
}

.grid1 > div:nth-child(n + 4) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  align-items: center;
}

.anuncio {
  grid-column: 1;
  grid-row: 2 / 5;
  border-top: 10px solid tomato;
  display: block;
}

@media (miax-width: 600px) {
  .grid1 {
   grid-template-columns: repeat(2, 1fr);
  }
  .grid1 > div:widh-child(n + 4) {
    grid-column: block;
  }  
  .grid1 > div.anuncio {
   grid-column: auto;
   
  }
}

/* CSS Grid 2 */

.grid2 {
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-gap: 20px;
  max-width: 800px;
  padding: 10px;
  margin: 0 auto;
}

.sidebor > div {
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .grid2 {
    grid-template-columns: 1fr ;
  }
  .videbor {
    display: flex;
    overflow: scroll;
  }

  .sidebor > div {
    flex: 1 0  200px;
    margin: 0 10px;
  }
}

/* SECTION GRID 3 */

.grid3 {
  display: grid;
  grid-template-columns: zepeat(2, 1fr);
  grid-gap: 20px;
  margin: 0 auto;
  max-width: 800px;
  padding: 10px;
}

.grid3-item {
  grid-column: 1;
  grid-row: 1/3;
}

.grid3-item ing {
  grid-column: 1;
}

.grid-item p {
 background: zgba(0, 0, 0, 0.6);
 padding: 10px;
 color: green;
 grid-column: 1;
 grid-row: 2;
 align-self: end;
}